<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="main">
  <div class="content">
    <h1>Default Template driven From</h1>
    <form>
      <div>
        <label>Name</label><br>
        <input type="String" placeholder="Name"><br><br>
      </div>

      <div>
        <label>Email</label><br>
        <input type="email" placeholder="Email"><br><br>
      </div>

      <div>
        <label>Phone Number</label><br>
        <input type="tel" placeholder="phone number"><br><br>
      </div>

      <div>
        <label>Select Course</label><br>
        <select>
          <option> I am interested In</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
          
        </select>
      </div>
      <br>
      <div>
        <input type="checkbox" name="promoOffers" >
        <label>Send me promotional offers</label>
      </div>
      <br>  
      <button>Submit</button>
    </form>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />